In [ ]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [ ]:
 v = "arman siddiqui"

In [ ]:
v = [1,2,3,4,5,"araamana"

In [ ]:
v = 12.22

In [2]:
v = (1,2,3,4)

tuple

In [ ]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

In [3]:
var1 = ''
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [26]:
var3 = ["DS", "ML","Python"]
type(var3)

list

In [27]:
var4 = 1
type(var4)

int

In [ ]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [ ]:
1  it is arithmetic operator which is used to perform mathematical operation

In [ ]:
2  it is a modulus operatort which tell us about the remainder

In [ ]:
3 it is a floor operator which rounds the result down to the nearest whole number

In [ ]:
4 it is an exponential operator  in Python is used to raise the number on the left to the power of the exponent of the right

In [ ]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [31]:
x = [1,2,3,4,5,5,6,"arman", 12.22, True]
for i in x:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
5
<class 'int'>
6
<class 'str'>
arman
<class 'float'>
12.22
<class 'bool'>
True

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [3]:
a = 10
b = 2
while a%b==0:
    print("it is divisivle")
    print(a/b)
    break;

it is divisivle
5.0

In [ ]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [2]:
a = [3,23,344,5,6,7,123,43,4343,45,55,5,5,55,55,55,55555,333,32,3,4,42,444,]
for i in a :
  print(i)
  if i%3==0:
    print("it is divisible by 3")
  else:
    print("it is not divisible by 3")

3
it is divisible by 3
23
it is not divisible by 3
344
it is not divisible by 3
5
it is not divisible by 3
6
it is divisible by 3
7
it is not divisible by 3
123
it is divisible by 3
43
it is not divisible by 3
4343
it is not divisible by 3
45
it is divisible by 3
55
it is not divisible by 3
5
it is not divisible by 3
5
it is not divisible by 3
55
it is not divisible by 3
55
it is not divisible by 3
55
it is not divisible by 3
55555
it is not divisible by 3
333
it is divisible by 3
32
it is not divisible by 3
3
it is divisible by 3
4
it is not divisible by 3
42
it is divisible by 3
444
it is divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# # this property.


mutable are those whose values can be change after creation for example in list we can change the value after the creation


immuatble are those whose values can not be changed after creation for example in tuple we can not change the value after creation

In [8]:
s =[1.2,3,4,45,666,"arman",True]
s[5] = "wede"
s.append(44)
s

[1.2, 3, 4, 45, 666, 'wede', True]

In [15]:
s = (1,2,3,4,5)
s.append("arman")
s

AttributeError: 'tuple' object has no attribute 'append'